/* FLEX */
.d-flex { display: flex; }
.f-1 { flex: 1; }
.ai-center { align-items: center; }
.jc-flex-end { justify-content: flex-end; }
/* DISPLAY */
.ox-scroll { overflow-x: scroll; }
.ws-nowrap { white-space: nowrap; }
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.o-0_5 { opacity: 0.5; }
.bs-cover { background-size: cover; }
.cp-polygon {
  -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%); 
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%); 
}
/* SIZE */
.w-40px { width: 40px; }
.w-100p { width: 100%; }
.w-112px { width: 112px; }
.mw-400px { max-width: 400px; }
.h-40px { height: 40px; }
.h-112px { height: 112px; }
.h-100p { height: 100%; }
/* SPACE */
.m-0px { margin: 0px; }
.mt-50px { margin-top: 50px; }
.mr-32px { margin-right: 32px; }
.mb-2px { margin-bottom: 2px; }
.mb-16px { margin-bottom: 16px; }
.mb-40px { margin-bottom: 40px; }
.mb-50px { margin-bottom: 50px; }
.ml-24px { margin-left: 24px; }
.mh-auto { margin: 0 auto; }
.ph-24px { padding-right: 24px; padding-left: 24px; }
.pt-24px { padding-top: 24px; }
.pr-16px { padding-right: 16px; }
/* TYPOGRAPHY */
.ff-big-noodle { font-family: big-noodle-too-oblique; }
.fw-normal { font-weight: normal; }
.fs-24px { font-size: 24px; }
.fs-28px { font-size: 28px; }
.fs-40px { font-size: 40px; }
.fs-60px { font-size: 60px; }
.c-white { color: white; }
.bc-orange { background-color: #ae0000; }