.body {
  font-family: big-noodle-too-oblique;
  width:100%;
  max-width: 400px;
  margin:0 auto;
  font-size: 24px;
  color: white;
  padding-right: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}

.container {
  margin-bottom: 40px;
}

.cell {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.values {
  display: flex;
  flex: 1;
}

.title {
  flex: 1;
  opacity: 0.5;
}

.col {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.player-image {
  width: 40px;
  height: 40px;
  -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%); 
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%); 
  background-size: cover;
}

.player-image-lg {
  width: 112px;
  height: 112px;
  -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%); 
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%); 
  background-size: cover;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  margin: 0;
}

h2 {
  font-weight: normal;
  font-size: 40px;
  margin: 0;
}

h3 {
  opacity: 0.5;
  font-weight: normal;
  margin: 0;
}

.loser {
  opacity: 0.5;
}

.flex-1 {
  flex: 1;
}

.pr-16 {
  padding-right: 16px;
}

.view-title {
  margin-top: 24px;
}

.view-header-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.view-header-content {
  margin-left: 24px;
}

.mb-1 { margin-bottom: 2px; }